Steps to follow to install and work with Django

-----DJANGO INSTALLATION-----

1. Create a new folder on your desktop to install virtual environments
2. Open command prompt and type *virtualenv env* or *python3 -m venv My_env* to create virtual environment
3. Activate the virtual environment with the following command *...\scripts\activate*
4. install Django with the following command *pip install Django*
5. Start a project with the following command *django-admin startproject Project_Name*
6. Channge dir to the new project and run django server with the following command
    *python manage.py runserver*
7. Create a new app with the following command *python manage.py startapp *app_name*
8. Link your app with your project folder by opening settings of your project. type the following command
    in installed apps of your project *app_name.apps.app_nameConfig*

-----URL ROUTING-----

-----FEED COMPONENT-------------
<div class="rooms">
  <!-- {% if request.user == room.host %}
    <a href="{% url 'update_room' room.id %}"> Edit </a> &nbsp;
    <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %} &nbsp; -->
  <!-- <a href="{% url 'user-profile' room.host.id %}"> @{{room.host.username}} </a> -->
  <!-- <h3>{{room.id}} -- <a href="/services/{{room.id}}">{{room.name}} </a></h3> -->
  <!-- <h3>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h3>
  <small>{{room.topic.name}}</small>
  <hr /> -->
</div>

{% extends "main.html" %} {% block content %}
<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'page/topics_component.html' %}
    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="mobile-menu">
        <form class="header__search">
          <label>
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 32 32"
            >
              <title>search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
              ></path>
            </svg>
            <input placeholder="Search for posts" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="#">Browse Topics</a>
          <a class="btn btn--main btn--pill" href="#">Recent Activities</a>
        </div>
      </div>
      <div class="roomList__header">
        <div>
          <h2>Study Room</h2>

          {% if rooms_count == 1 %}
          <h3>{{rooms_count}} Room available</h3>
          {%elif rooms_count == 0 %}
          <h3>{{rooms_count}} Room available</h3>
          {% else %}
          <h3>{{rooms_count}} Rooms available</h3>
          {% endif %}
        </div>
        <a class="btn btn--main" href="{% url 'create_room' %}">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <title>add</title>
            <path
              d="M16.943 0.943h-1.885v14.115h-14.115v1.885h14.115v14.115h1.885v-14.115h14.115v-1.885h-14.115v-14.115z"
            ></path>
          </svg>
          Create Room
        </a>
      </div>
      {% include 'page/feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'page/activity_component.html' %}
    <!-- Activities End -->
  </div>
</main>
{% endblock content %}